 * { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #d9dcd6;
}

header {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: #2a607c;
}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
}

a {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}


/* Utility Classes */
.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}